body {
	font-size: 14pt;
    font-family: 'arial';
}

h1 {
    padding: 1em 1em 1em 1em;
    margin: 0 0 0 0;
}

h2 {
    border-bottom: solid 1px rgb(32, 92, 126);
    color: rgb(32, 92, 126);
    text-transform: uppercase;
}

h1, h2 {
    page-break-after: avoid;
}

table {
	width: 90%;
	border-spacing: 0px;
	margin-bottom: 1em;
    border-collapse: collapse;
	font-size: 16px;
}

thead tr {
	background-color: rgba(32, 92, 126, 0.6);
    color: white;
}

pre {
	border-left-width: thin;
	color: black;
}

tr {
	background-color: transparent;
}

td, th {
	border: solid 1px rgb(32, 92, 126);
	padding: 0.2em;
}

div.slide {
    /* margin: 1em 1em 1em 1em; */
    /* background-color: #eeeeee; */
    margin-top: 1em;
    padding: 0;
    page-break-inside: avoid;
}

div.slide h1 {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 0 0.5em 0;
    color: #575757;
    box-shadow: 0 5px 5px -5px #3b3b3b inset;
    text-shadow: 1px 1px black;
    border-top: solid 2px #575757;
    border-bottom: solid 1px #575757;
    /* background-color: rgba(32, 92, 126, 0.6); */
    background-color: #a8a8a8;
    /* border-radius: 5px 5px 0 0; */
}

div.figure {
    border: solid 1px rgb(32, 92, 126);
	margin-left: 16px;
	margin-right: 16px;
    padding: 2px 2px 2px 2px;
}

div.slides section h1 {
    background-color: rgb(32, 92, 126);
    border-radius: 5px;
    color: white;
}

body {
    background-color: white;
}

section.footer h2 {
    position: absolute;
    left: 10%;
    top: 80%;
    width: 75%;
    padding: 0.5em;
    border: none;
    background-color: rgba(32, 92, 126, 0.6);
    border-radius: 5px;
    color: white;
    text-transform: none;
}

section.footer h2 .logo {
    color: orange;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bold;
}

ul, ol {
	font-size: 16pt;
}

div.first-slide {
    margin-top: 0px;
	background-color: #5678a9;
	background-repeat: no-repeat;
	background-size: cover;
	border-left: none;
}

div.first-slide p {
	position: absolute;
	left: 2em;
	top: 6em;
	font-size: 42px;
	font-weight: bold;
	line-height: 120%;
	color: white;
    text-shadow: 2px 2px black;
}

div.first-slide img {
    float: right;
    position: absolute;
    right: 10%;
    top: 0%;
}

@media print {
	div.slide {
		height: 160mm;
	}
}
